/* General Styles */
body {
  margin: 0;
  padding: 0;
}

/* Panel 1 */
.BG1 {
  display: flex;
  max-width: 100%;
  height: 900px;
  background-color: #000;
  /* imgBB link: https://i.ibb.co/wCyQW2D/Bg-hero.png */
  background-image: url('./images/Bg-hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.BG1-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 80px;
  margin-right: 80px;
}

/* Nav Bar */
.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 99px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
}

.nav-logo-icon {
  margin-left: 0.68px;
  margin-top: 29px;
  margin-bottom: 30px;
  padding-right: 5px;
  height: 40px;
  width: 40px;
}

.nav-logo h3 {
  color: rgba(255, 255, 255, 1);
  margin-top: 37px;
  margin-bottom: 38px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}

.nav-logo,
.nav-signup-container {
  flex: 1;
}

.nav-menu {
  color: rgba(255, 255, 255, 1);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  width: max-content;
  margin: 0px;
  padding: 0px;
  gap: 40px;
}

.nav-list li {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
}

.nav-signup-container {
  color: #fff;
  display: flex;
  text-align: center;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  margin-top: 40px;
  margin-bottom: 41px;
  justify-content: flex-end;
}

.nav-signup-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  /* width: fit-content; */
  margin: 0px;
  padding: 0px;
  gap: 40px;
}

.register-btn {
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

.panel-1-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 337px;
  flex-shrink: 0;

  margin-bottom: 365px;
  color: #fff;
  font-family: 'Inter';
}

.panel-1-content-wrapper h1 {
  color: #fff;
  text-align: center;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 112%; /* 80.64px */
  margin-bottom: 24px;
  margin-top: 0px;
}

.panel-1-content-wrapper p {
  color: #8b8b8b;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  font-family: 'Inter';
  margin-bottom: 40px;
  margin-top: 0px;
}

.panel-1-content-wrapper btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #a8ff35;
  color: rgba(0, 0, 0, 1);
  font-family: 'Inter';
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

.tweet-box {
  display: none;
}

/* Panel 2 */
.BG2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 742px;
  background-color: #a8ff35;
}

.BG2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 140px;
  height: 462px;
  width: 854px;
}

.BG2-container h1 {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font-family: 'Inter';
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 60px;
}

.inner-container-bg2 {
  width: 502px;
  height: 202px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(245, 245, 245, 1);
  margin-bottom: 60px;
}

.black-inner-container-bg2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 341.226px;
  height: 82px;
  flex-shrink: 0;
  background-color: rgba(3, 3, 3, 1);
  margin: 60px 80px;
}

.elon-text {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: 'Roboto';
  font-size: 23.806px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 27px;
}

.x-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  flex-shrink: 0;
  background: linear-gradient(270deg, #030303 53.65%, rgba(3, 3, 3, 0.6) 100%);
}

.icon-bg2 {
  width: 31.742px;
  height: 31.742px;
  flex-shrink: 0;
  margin: 25.13px 0px 25.13px 39.68px;
  padding-right: 15.87px;
}

.BG2-bottom-text {
  /* color: rgba(0, 0, 0, 1); */
  text-align: center;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  margin: 0;
}

/* Panel 3 */
.BG3 {
  height: 1460px;
  width: 100%;
}

.BG3-upper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 140px;
}

.BG3-upper-text {
  width: 1160px;
  height: 304px;
  color: #000;
  font-family: 'Inter';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-left: 140px;
  margin-right: 140px; */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BG3-upper-text p span {
  color: rgba(173, 173, 173, 1);
}

.BG3-lower-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 291px;
  margin-bottom: 129px;
  width: 100%;
  height: 732px;
  /* border: 1px solid red; */
}

.BG3-lower-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1160px;
  height: 76px;
  color: #000;
  text-align: center;
  font-family: 'Inter';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 80px;
}

.BG3-brands-container {
  /* border: 1px solid red; */
  width: 1160px;
  height: 576px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 32px;
}

.BG3-brands-unit {
  width: 266px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Panel 4 */
.BG4 {
  background: #fafafa;
  width: 100%;
  height: 2209px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.BG4-header {
  width: 1160px;
  height: 76px;
  color: #000;
  font-family: 'Inter';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 140px;
  margin-bottom: 80px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.BG4-brands {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  width: 1160px;
  height: 124px;
}

.BG4-brand-unit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 124px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}

.BG4-brand-unit:nth-child(2) {
  background: #a8ff35;
}

.tweets-container {
  margin-top: 77px;
}

.tweet-2 {
  margin-top: 43px;
}

.tweet-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.tweet-3 btn {
  margin-top: 96px;
  padding: 16px 32px;
  width: 154px;
  height: 25px;
  gap: 10px;
  border-radius: 40px;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

/* Panel 5 */
.BG5 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #000;
  width: 100%;
  max-height: 1128px;
}

.BG5-header {
  margin-top: 140px;
  width: 1160px;
  color: #fff;
  text-align: center;
  font-family: 'Inter';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.BG5-header p {
  margin: 0;
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.switch-container p:last-child {
  color: #f5f5f5;
  opacity: 0.5;
}

.boxes-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 128px;
}

.box {
  width: 360px;
  height: 640px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fafafa;

  display: flex;
  flex-direction: column;
}

.box-head p:first-child {
  color: #000;
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 36px */

  padding-left: 12px;
  margin-top: 32px;
  margin-bottom: 8px;
  margin-left: 32px;
}

.box-head p:nth-child(2) {
  color: #000;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */

  /* FIX BORDER */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 296px;
  padding-bottom: 32px;
  padding-left: 12px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 0px;
  margin-bottom: 32px;
}

.box-content {
  display: flex;
  flex-direction: column;
}

.box-price {
  margin-left: 44px;
  margin-bottom: 35px;
  display: flex;
}

.box-price p:first-child {
  color: #000;
  font-family: 'Roboto';
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 64px */
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 8px;
}

.box-price p:nth-child(2) {
  color: #000;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  padding-bottom: 6px;
  margin: 0px;
  align-self: flex-end;
}

.box-features {
  color: #000;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.box-features ul {
  padding-inline-start: 44px;
  margin: 0px;
}

.box-features ul li {
  list-style: none;
  background-image: url('./images/tick.png');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 0 center;
  padding-left: 29px;
  margin-top: 27px;
}

.box-features ul li:first-child {
  margin-top: 0px;
}

.box-2 {
  background: #a8ff35;
}

.box-button {
  width: 296px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 29px;
  background: #a8ff35;

  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 24px;
}

.box-button btn p {
  color: #000;
  text-align: center;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

#btn-2 {
  background: #000;
}

#btn-2 p {
  color: #fff;
}

/* Panel 6 */
.BG6 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  margin-top: 12px;
  background: #a8ff35;
  width: 100%;
  height: 539px;
  flex-shrink: 0;

  text-align: center;
  font-family: 'Inter';
  font-size: 72px;
  font-weight: 900;
  line-height: 112%; /* 80.64px */
}

.BG6-text {
  margin-top: 140px;
  margin-bottom: 40px;
}

.BG6 p {
  margin: 0;
}

.BG6-text p:first-child {
  color: #000;
}

.BG6-text p:last-child {
  color: #87d322;
}

.BG6-btn {
  display: flex;
  width: 180px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #000;

  color: #fff;
  text-align: center;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 100px;
}

.left-logo-footer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin-left: 80px;
}

.icon-footer {
  height: 40px;
  width: 40px;
  margin-right: 10.32px;
}

.left-logo-footer p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}

.footer-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin-right: 100px;
  height: 18px;
  gap: 40px;
  list-style: none;
  padding-left: 0px;
  width: 544px;

  color: #000;
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
}

.footer-menu li {
  width: fit-content;
}

/* mobile only elements to hide */

/* Media Queries */

.menu-trigger {
  display: none;
}

.tweet-boxes {
  display: none;
}

.outer-container-text-upper,
.outer-container-arrow-upper,
.outer-container-arrow-lower,
.outer-container-text-lower {
  display: none;
}

@media screen and (max-width: 375px) {
  /* Panel 1 */
  .BG1 {
    display: flex;
    justify-content: center;
    width: 375px;
    height: 812px;
  }

  .BG1-container {
    width: 300px;
    height: 812px;
    margin-left: 39px;
    margin-right: 36px;
    margin-top: 7px;
  }

  .nav-bar-container {
    width: 375px;
    height: 88px;
  }

  .nav-logo h3 {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .nav-signup-container {
    display: none;
  }

  .nav-logo-icon {
    margin-top: 24px;
    margin-left: 18px;
  }

  .nav-icon-phone {
    display: flex;
    height: 24px;
    width: 24px;
    margin-right: 18px;
  }

  .phone-nav-list {
    display: none;
  }

  /* .menu-trigger:active {
    display: flex;
  } */

  .panel-1-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .panel-1-content-wrapper {
    width: 100%;
    margin-bottom: 0px;
  }

  .panel-1-content-wrapper h1 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 112%; /* 80.64px */
  }

  .panel-1-content-wrapper p {
    color: #8b8b8b;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 80.64px */
    margin-top: 16px;
    margin-bottom: 32px;
    width: 286px;
    height: 84px;
  }

  .panel-1-content-wrapper btn {
    padding: 12px 24px;
    gap: 10px;
    border-radius: 40px;
    background: #a8ff35;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-align: center;
    width: 92px;
    height: 20px;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
  }

  .tweet-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }

  .tweet-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 293.038px;
    height: 70.42px;
    transform: rotate(-4deg);
    flex-shrink: 0;
    background: #181818;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0);
  }

  .tweet-box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 13.63px;
  }

  .tweet-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 292.3px;
    height: 70.243px;
    transform: rotate(2deg);
    flex-shrink: 0;
    background: #181818;
  }

  .tweet-box-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 292.901px;
    height: 70.387px;
    transform: rotate(-2deg);
    flex-shrink: 0;
    background: #181818;
  }

  .tweet-box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 291.325px;
    height: 70.008px;
    transform: rotate(4deg);
    flex-shrink: 0;
    background: #181818;
  }

  .tweet-box-icon {
    width: 27.259px;
    height: 27.259px;
    flex-shrink: 0;
  }

  .tweet-box-text {
    color: #fff;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20.445px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .tweet-box-x-icon {
    position: absolute;
    left: 218.81px;
    width: 72.692px;
    height: 70.42px;
    /* transform: rotate(-4deg); */
    flex-shrink: 0;
    background: linear-gradient(
      270deg,
      #181818 53.65%,
      rgba(24, 24, 24, 0.8) 100%
    );
  }

  .tweet-box-x-icon svg {
    padding-left: 42.77px;
    padding-top: 29.59px;
    height: 13.63px;
    width: 13.63px;
  }

  /* Panel 2 */

  .BG2 {
    width: 375px;
    height: 541px;
  }

  .BG2-container {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .BG2-container h1 {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 112%; /* 40.32px */
  }

  .inner-container-bg2 {
    position: relative;

    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 339px;
    height: 118px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #f5f5f5;
  }

  .outer-container-text-upper {
    position: absolute;
    bottom: 120px;
    left: 240px;

    width: 93px;
    transform: rotate(6deg);
    color: #000;
    text-align: center;
    font-family: 'Protest Riot', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
  }

  .outer-container-arrow-lower {
    position: absolute;
    top: 100px;
    right: 260px;
  }

  .outer-container-text-lower {
    position: absolute;
    top: 125px;
    right: 250px;

    width: 93px;
    transform: rotate(1.13deg);
    color: #000;
    text-align: center;
    font-family: 'Protest Riot', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
  }

  .outer-container-arrow-upper {
    position: absolute;
    bottom: 90px;
    left: 230px;
  }

  .black-inner-container-bg2 {
    width: 291px;
    height: 69.93px;
    flex-shrink: 0;
  }

  .icon-bg2 {
    width: 27.07px;
    height: 27.07px;
    flex-shrink: 0;
    margin: 21.39px 0px 21.39px 33.86px;
    padding-right: 13.53px;
  }

  .elon-text {
    margin-top: 22.97px;
    margin-bottom: 22.97px;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 20.302px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .x-icon {
    width: 72.186px;
    height: 69.93px;
    flex-shrink: 0;
  }

  .BG2-bottom-text {
    width: 286px;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
  }

  /* Panel 3 */

  .BG3-upper-container {
    margin-top: 0px;
  }

  .BG3-upper-text {
    margin-top: 80px;
    width: 335px;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .BG3-lower-container {
    margin-top: 170px;
    margin-bottom: 80px;
  }

  .BG3-lower-text {
    width: 335px;
    color: #000;
    text-align: center;

    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .BG3-brands-container {
    width: 335px;
    height: 576px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 14px;
  }

  .BG3-brands-unit {
    width: 162px;
    height: 74px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .microsoft {
    width: 115.714px;
    height: 24.361px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .allianz {
    width: 95.008px;
    height: 24.361px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .upwork {
    width: 88.917px;
    height: 26.797px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .volvo {
    width: 105.97px;
    height: 14.617px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .grab {
    width: 68.211px;
    height: 26.797px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .verizon {
    width: 98.662px;
    height: 21.925px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .coinbase {
    width: 90.135px;
    height: 19.489px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .expedia {
    width: 89.692px;
    height: 26.135px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .airtable {
    width: 110.842px;
    height: 24.361px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .magento {
    width: 99.88px;
    height: 29.233px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .carrera {
    width: 105.97px;
    height: 25.579px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .bonanza {
    width: 97.444px;
    height: 17.053px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .wetransfer {
    width: 107.188px;
    height: 23.143px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .suzuki {
    width: 108.406px;
    height: 20.707px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .algolia {
    width: 98.662px;
    height: 24.361px;
    flex-shrink: 0;
  }

  .BG3-brands-unit .heineken {
    width: 115.714px;
    height: 20.707px;
    flex-shrink: 0;
  }

  /* Panel 4 */

  .BG4 {
    width: 375px;
    height: 982px;
    flex-shrink: 0;
  }

  .BG4-header {
    width: 339px;
    color: #000;
    text-align: center;
    font-size: 31px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 80px;
    margin-bottom: 32px;
  }

  .BG4-brands {
    width: 339px;
    height: 124px;
  }

  .BG4-brand-unit {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
  }

  .BG4-brand-unit img {
    width: 30.968px;
    height: 30.968px;
    flex-shrink: 0;
  }

  .BG4-brand-unit:nth-child(5) {
    display: none;
  }

  .BG4-brand-unit:nth-child(6) {
    display: none;
  }

  .BG4-brand-unit:nth-child(7) {
    display: none;
  }

  .BG4-brand-unit:nth-child(8) {
    display: none;
  }

  .tweets-container {
    gap: 16px;
    width: 339px;
    height: 100%;
    margin-top: 32px;
  }

  .tweet-2,
  .tweet-3 {
    margin-top: 0px;
  }

  .tweet-1 img {
    width: 339px;
    height: 116px;
    flex-shrink: 1;
  }

  .tweet-2 img {
    width: 339px;
    height: 344px;
    flex-shrink: 1;
  }

  .tweet-3 img {
    width: 339px;
    height: 116px;
    flex-shrink: 1;
  }

  .tweet-3 btn {
    margin-top: 32px;
    display: inline-flex;
    padding: 10px 8px;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 0px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
  }

  /* Panel 5 */

  .BG5 {
    width: 375px;
    max-height: 2213px;
    flex-shrink: 0;
  }

  .BG5-header {
    margin-top: 80px;
    width: 339px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .switch-container {
    position: relative;
    margin-top: 32px;
    margin-bottom: 80px;
    gap: 24px;
  }

  .switch-container p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .switch-container p:nth-of-type(2) {
    opacity: 0.5;
  }

  .switch-container svg {
    width: 104px;
    height: 44px;
    flex-shrink: 0;
  }

  .switch-container-outer-image {
    position: absolute;
    top: 40px;
    right: 45px;
  }

  .switch-container-outer-text {
    position: absolute;
    top: 80px;
    right: 30px;
  }

  .boxes-container {
    flex-direction: column;
  }

  .box {
    width: 339px;
    height: 602px;
    border-radius: 15.067px;
  }

  .box-head p:first-child {
    color: #000;
    font-size: 28px;
  }

  .box-head p:nth-child(2) {
    color: #000;
    font-size: 18px;
    margin-bottom: 24px;
  }

  .box-price {
    margin-bottom: 27px;
  }

  .box-button {
    width: 278px;
    height: 54px;
    flex-shrink: 0;
  }

  /* Panel 6 */

  .BG6 {
    width: 375px;
    height: 316px;
    margin-top: 0px;
    flex-shrink: 0;
  }

  .BG6-text {
    margin-top: 80px;
    margin-bottom: 32px;
  }

  .BG6-text p:first-child {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 112%; /* 40.32px */
  }

  .BG6-text p:last-child {
    color: #87d322;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 112%; /* 40.32px */
  }

  .BG6-btn {
    width: 100px;
    height: 45px;
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
  }

  /* Footer */

  .footer {
    height: 473px;
    width: 375px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .left-logo-footer {
    margin-left: 0px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 170px;
    height: 40px;
  }

  .footer-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 169px;
    height: 192px;
  }

  .footer-menu li {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 18px */
  }
}
